@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  color: var(--text);
  background: var(--primary);
  margin: 0;
  font-family: 'Hind Madurai', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #0a0a0a;
  --secondary: #1e1e1e;
  --tertiary: #202020;
  --text: #fbfbfb;
  --text-accent: #9e9e9e;
  --text-colored: #d1b1fc;
  --navbar: #040404;
  --hyperlink-hover: #b785fa;
}

h1, h2, h3, h4, h5, h6 {
color: var(--text);
margin: 0;
}

h1 {
font-size: 3em;
}

h3 {
font-size: 1.8em;
}

p {
color: var(--text);
margin: 0;
}

nav {
padding: 1.1em;
top: 0px;
margin: 0px;
background: var(--navbar);
position: fixed;
z-index: 1;
width: 100%;
font-size: 1.1em;
}

hr {
border-radius: 1em;
height: 0.2em;
background: var(--text-accent);
border: solid 2px var(--text-accent);
width: 100%;
}

div {
padding: 0px;
margin: 0px;
}

nav > a {
padding-left: 1em;
padding-right: 3em;
color: inherit;
text-decoration: none;
transition: color 0.5s ease;
}

nav > a:hover {
color: var(--hyperlink-hover);
transform: translateY(0em);
}

a {
color: var(--text);
text-decoration: underline;
display: inline-block;
position: relative;
transition: all 0.3s ease;
}

a:hover {
transform: translateY(-0.1em);
}

#wrapper {
padding-left: 2em;
padding-right: 2em;
padding-bottom: 2em;
padding-top: 4em;
margin: 0;
}

table {
border: none;
text-align: left;
}

.wave {
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

.wave:hover {
display: inline-block;
animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
0% {
transform: rotate(0deg);
}
10% {
transform: rotate(-10deg);
}
20% {
transform: rotate(12deg);
}
30% {
transform: rotate(-10deg);
}
40% {
transform: rotate(9deg);
}
50% {
transform: rotate(0deg);
}
100% {
transform: rotate(0deg);
}
}

::-moz-selection, ::selection {
  color: var(--primary);
  background: var(--text);
}

.imagecontainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}

.img-table {
  display: flex;
  flex-wrap: wrap;
  align-content: justify;
}

.img-cell {
  position: relative;
  padding: 1em;
  margin: 0;
  text-align: center;
}

.img-cell img {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: inline-block;
}

@media (max-width: 700px) {
  .img-cell {
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cell:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: var(--text);
  font-size: 1rem;
  text-align: center;
  padding: 0.5em;
}

footer {
color: var(--text);
text-align: center;
padding: 1em;
}